.node {
  padding: 0.125rem 0;

  &.typeOther {
    .summary:first-of-type {
      list-style-type: none;
      padding-left: 1rem;
    }

    .summary::-webkit-details-marker {
      display: none;
      padding-left: 1rem;
    }
  }

  &.typeArray {
    .value {
      margin-left: 4rem;
    }
  }
}

.summary,
.arrayItem {
  &:hover {
    background: var(--gray-light);
  }
}

.key {
  // font-weight: 600;
  // color: var(--gray-dark);
}

.value {
  padding-left: 1rem;
}

.typeHint {
  font-style: italic;
  color: var(--gray-dark);
}

.arrayItem {
  &::marker {
    color: var(--gray-dark);
  }
}
