@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 18px;

  --gray: #f0f0f0;
  --gray-light: #f4f4f4;
  --gray-dark: #b4b4b4;

  --red: #ff0000;

  --green: #48bb78;
  --green-light: #c6f6d5;
  --green-dark: #2f855a;
}

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.app-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
